<script src="website-assets/index.js" charset="utf-8"></script>

<div class="cntr ftr" style="text-align: center;">
  <p>The data is updated by some brilliant and generous folks at <a href="https://www.covid19india.org/about">covid19india.org.</a></p>
  <p class="disclaimer">Data is updated every night.</p>
</div>
</body>

</html>
