<%- include("partials/header") -%>
<title>Vaccination Centers</title>
</head>

<body>

  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="/">
      <img src="/website-assets/images/virus.png" width="30" height="30" class="d-inline-block align-top" alt="covid-19-stats-logo">
      COVID<span style="color: #B42525">19</span> Stats
    </a>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-sm btn-outline-success my-2 my-sm-0"><a href="/vaccinations">Vaccinations</a></button>
    </form>
  </nav>

<div class="hero">
  <h1>Vaccination Center Details</h1>
</div>

<div class="container-fluid box">
  <% if(vaccineCenterLists.length == 0){ %>
    <p class="resHead">No details available</p>
  <% } else { %>
  <div class="form-group">

    <label>Center</label>
    <select required="true" name="stateInput" id="statein" class="vac form-control">

      <option disabled="disabled" hidden="" value="Select a state" selected>Select a center</option>
      <% for(let i = 0; i < vaccineCenterLists.length; i++){ %>
        <% var val = vaccineCenterLists[i].split("||")[1] + vaccineCenterLists[i].split("||")[2] + vaccineCenterLists[i].split("||")[3]%>


        <option class="" value=<%=val%>><%= vaccineCenterLists[i].split("||")[0]%></option>

        <span class="vaccineres"><%= val%></span>
        <% } %>
      <% } %>


  </div>
</div>
  <script src="/website-assets/vaccine-result.js" charset="utf-8"></script>
