body{
  background: #E0E0E0;
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
}
a{
  text-decoration: none;
  color: #4CAC28;
}

a:hover{
  color: black !important;
  text-decoration: none;
}

.my-2{
  border-color: #4CAC28;
}
.container-fluid{
  margin-top: 45vh;
  transform: translateY(-50%);
  width: 40%;
}

.disclaimer{
  font-size: 70%;
}

.ftr{
  text-align: center;
  position: relative;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  bottom: 0%;
}


.box{
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.15);
  padding: 5%;
  border-radius: 15px;
}

.submit{
  background-color: #B42525 !important;
}

.hero{
  padding-top: 15%;
  text-align: center;
}

.resHead{
  text-align: center;
  font-weight: bold;
}

.bold{
  font-weight: 600;
}

.submit{
  position: relative;
  left: 50%;
  margin-top: 5%;
  transform: translate(-50%);
}

.vacres{
  padding-top: 5%;
  text-align: center;
}

@media screen and (max-height: 738px) {
  .box{
    /* position: relative; */
    width: 60%;
    margin-top: 60vh !important;
  }
  .heading{
    font-size: 170%;
  }
}

@media screen and (max-height: 667px) {
  .box{
    /* position: relative; */
    margin-top: 80vh !important;
  }

}

@media screen and (min-width: 400px), screen and (max-height: 667px){
  .hero{
      padding-top: 10%;
  }
  .box{
    /* position: relative; */
    margin-top: 50vh !important;
    width: 65%;
  }
}



@media screen and (max-width: 480px) {
  .ftr{
    font-size: 90%;
    width: 80%;
  }
  .box{
    padding: 7%;
    width: 85%;
  }
  .heading{
    font-size: 170%;
  }
}

@media screen and (min-width: 800px) {
  .box{
    width: 45%;
  }
}
